{% extends 'base.html.twig' %}

{% block title %}PZ Server Stats{% endblock %}

{% block javascripts %}
    <script src="https://js.pusher.com/8.2.0/pusher.min.js" defer></script>
    <script src="js/countdown.js" defer></script>
    <script src="js/cookie-pusher.js" defer></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md">
            <p id="cookieCountdown" data-nextdate="{{ nextCookieJarAvailable }}"></p>

            <img src="img/cookie.jpg" class="img-fluid panel-image">
            <form action="{{ path('app_cookie_jar_claim') }}" method="post">
                <input type="text" name="steam_user" value="{{ steam_user}}" placeholder="Steam Name" class="w-100 mt-2" required/>
                <button type="submit" class="btn btn-primary w-100 mt-1">get a cookie</button>
            </form>
            <table class="table table-striped mt-4">
                <tr>
                    <th>last winners</th>
                    <th>items won</th>
                </tr>

                {% for cookieJar in cookieJars %}
                    <tr>
                        <td>{{ cookieJar.lastCookieWinner }}</td>
                        <td>{{ cookieJar.lastCookieItem }}</td>
                    </tr>
                {%  endfor %}

            </table>

        </div>
        <div class="col-md">

        </div>
    </div>

{% endblock %}

{% block sidebar %}
    <h1>Number of players : {{ playerCount }}</h1>
    <table class="table table-striped">
        <tr>
            <th>Player Name</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{ player }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
